NAMESPACE=transcoding
DEFAULT_VIDEO=bbunny_4k.mkv
IMAGE=localhost:5000/ffmpeg-worker:v1
PUSH_IMAGE=true
WORKER_REPLICAS=2
WORKER_CPU_REQUEST=2
WORKER_CPU_LIMIT=4
WORKER_MEM_REQUEST=2Gi
WORKER_MEM_LIMIT=8Gi
MINIO_USER=admin
MINIO_PASSWORD=admin12345
DEFAULT_JOBS=6
DEFAULT_DURATION=1800
SAMPLE_INTERVAL=5
MIN_RUNTIME=120
